# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/

.env

# Database
*.db
*.sqlite3


# =====================
# FastAPI
# =====================

.pytest_cache/
.mypy_cache/


# =====================
# React
# =====================

node_modules/
dist/
build/


# =====================
# IDE
# =====================

.vscode/
.idea/


# =====================
# OS
# =====================

.DS_Store


# =====================
# Logs
# =====================

*.log